body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family: 'Montserrat', sans-serif;
  color: #264653;
}
h2, h3, h4, h5, h6, p {
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 color: #264653;
}
.author-div {
  width: 100%;
  border-radius: 10px;
  padding: 0.2em;
}
.proj-author-img{
  height: 4em;
  width: 4em;
  border-radius: 50%;
}
.proj-author-img-feed{
  height: 2.8em;
  width: 2.8em;
  border-radius: 50%;
}
.discover-title
{
    font-size: 36px;
    color: #264653;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.discover-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    background-color: #2A9D8F;
}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #264653;
    background-color: #264653;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.feed{
  height:36em;
  width:100%;
  overflow:hidden;
  padding:0em;
}
.preview-crop{
  height:25em;
  width:100%;
  overflow:hidden;
}
.badge-crop{
  padding:0em;
  height:2em;
  width:100%;
  overflow:hidden;
}
.story-crop{
  height:6em;
  width:100%;
  overflow:hidden;
}
div.c {
  text-align: center;
}
.form-center {
  margin: auto;
  width: 65%;
}
.leader-color{
  color: #2A9D8F;
}
.leader-bgcolor{
  background-color: #2A9D8F;
}
.sponsor-color{
  color: #E9C46A;
}
.sponsor-bgcolor{
  background-color: #E9C46A;
}
.volunteer-color{
  color: #F4A261;
}
.volunteer-bgcolor{
  background-color: #F4A261;
}
.mentor-color{
  color: #E76F51;
}
.mentor-bgcolor{
  background-color: #E76F51;
}
.proj-center {
  margin: auto;
  width: 85%;
  border-radius: 1px;
  border: 0.02em solid white;
  padding: 10px;
  background-color: white;
}
h1.proj-title {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  padding: 0.2em;
}
.proj-img-center {
  margin: auto;
  width: 100%;
  padding: 10px;
}
.tabs-center{
  margin: auto;
  width: 85%;
  padding-top: 0.3em;
}
.tab-content{
  height: 100vh;
  height: 100%;
}
.vertical-center {
  display: flex;
  align: center;
}
 .bg-cover {
     background-size: cover !important;
 }
.login,
.image {
  min-height: 100vh;
}
hr {
  color: #264653;
}
.cropdiv {
width:15em;
height:20em;
overflow:hidden;
background-color: white;
align:center;
}
.leaderdiv{
  width:17em;
  height:20em;
  overflow:hidden;
}
.cropped {
    width: 100%; /* width of container */
    height: 15em; /* height of container */
    object-fit: cover;
    padding:1em;
}
.croppedimg {
    width: 6em; /* width of container */
    height: 6em; /* height of container */
    object-fit: cover;
}
.bg-image {
  background-image: url('https://i.ibb.co/dcZR7wq/SH8-0350.jpg');
  background-size: cover;
  background-position: center center;
}
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* Zoom In #1 */
.zoom img {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom:hover img {
	-webkit-transform: scale(1.0.5);
	transform: scale(1.05);
}
body {
  background: #f4f4f4;
}
/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}
.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
a{
  color: #264653;
  text-decoration: none;
}
p.white{
  color:white;
}

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3em;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 20em;
  border-radius: 50%;
}
.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#details {
  border: 1px solid red;
  padding-left: 50px;
}

.full-height {
  height: 100%;
}

ul {
  margin: 0;
}
.content-section {
  background: #ffffff;
  padding: 5px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 300px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  padding: 0.2em;
}
.searchTerm {
  width: 10em;
  border: 0.2em solid white;
  border-right: none;
  height: 2em;
  border-radius: 50em 0 0 50em;
  outline: none;
  color: green;
}
.searchTerm:focus{
  color: #00B4CC;
}
.searchButton {
  width: 2.5em;
  height: 2em;
  border: 0.2em solid white;
  background: transparent;
  text-align: center;
  color: #fff;
  border-radius: 0 50em 50em 0;
  cursor: pointer;
  font-size: 15px;
}
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #264653;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 60px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 0px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #264653;
  text-decoration: none;
}

.article-svg {
  width: 60px;
  height: 20px;
  vertical-align: middle;
}

.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
