{% extends "dyasynora_app/base.html" %}
  {% block content %}
<div style="background: url(https://i.ibb.co/6JmxQ5h/Screenshot-2020-06-03-at-03-01-30.png)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 style="color:white;"class="display-4 font-weight-bold">DiaSynora</h1>
        <p style="padding:1em;" class="font-italic mb-0">Connect with sponsors, volunteers and mentorss to bring your community to life.</p>
        <a href="{% url 'dyasynora_app-project-create' %}" role="button" class="btn btn-primary px-5">Start Your Project</a>
    </div>
</div>

<!-- For Demo Purpose -->
<div class="container py-5">
    <h2 class="h3 font-weight-bold">Some demo content</h2>
    <div class="row">
        <div class="col-lg-10 mb-4">
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
        </div>
        <div class="col-lg-8">
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur <strong class="font-weight-bold text-dark">adipisicing elit, sed </strong>do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <strong class="font-weight-bold text-dark">reprehenderit in voluptate </strong>velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

<div class="container">
  <h2 class="h3 font-weight-bold">Project Leaders</h2>
    <div class="row text-center">
        <!-- Leader item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="leaderdiv bg-white rounded shadow-sm py-5 px-4"><img src="https://i.ibb.co/NNH16gR/Screenshot-2020-06-03-at-02-35-26.png" width="100" class="croppedimg img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">YFCD</h5><span class="small text-uppercase text-muted">Youth For Change and Development</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Leader item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="leaderdiv bg-white rounded shadow-sm py-5 px-4"><img src="https://i.ibb.co/FbWjgLL/fill-a-heart.jpg" width="100" class="croppedimg img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">FILL A HEART</h5><span class="small text-uppercase text-muted"></span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Leader item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="leaderdiv bg-white rounded shadow-sm py-5 px-4"><img src="https://i.ibb.co/7QXJRLW/Screenshot-2020-06-03-at-02-48-55.png" width="100" class="croppedimg img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">MFS</h5><span class="small text-uppercase text-muted">Moving Forward Sudan</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Leader item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="leaderdiv bg-white rounded shadow-sm py-5 px-4"><img src="https://i.ibb.co/hsMnRS7/Screenshot-2020-06-03-at-02-43-33.png" width="100" class="croppedimg img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">SDN</h5><span class="small text-uppercase text-muted">Sudanese Diaspora Network</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
    </div>
</div>
{% endblock content %}
