{% extends "dyasynora_app/base.html" %}
  {% block content %}
    <div class="container">
      <div class="row">
    {% for project in projects %}
      {% if forloop.counter0|divisibleby:6 and not forloop.first %}<div class="w-100"></div>{% endif %}
      <div class="col">
        <article class="media content-section" style="height: 400px; width: 400px">
        <img class="rounded-circle article-img" src="{{ project.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ project.author }}</a>
            <small class="text-muted">{{ project.date_created|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'dyasynora_app-project-detail' project.id %}">{{ project.name }}</a></h2>
          <img src="{{ project.image.url }}" height="200px" width="250px">
          <p class="article-content">{{ project.description }}</p>
        </div>
      </article></div>
    {% endfor %}
    </div></div>
  {% endblock content %}
