{% extends "dyasynora_app/base.html" %}
  {% block content %}

      <br><h2> Browse Projects </h2><br>
      <div class="row">
    {% for project in projects %}
      <div class="col">
        <article class="media content-section" style="width: 290px">
        <!--<img class="rounded-circle article-img" src="{{ project.author.profile.image.url }}">-->
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'dyasynora_app-profile-detail' project.id %}">{{ project.author }}</a>
            <small class="text-muted">{{ project.date_created|date:"F d, Y" }}</small>
          </div>
          <a href="{% url 'dyasynora_app-project-detail' project.id %}"><img src="{{ project.image.url }}" height="200px" width="250px"></a>
        <h3 align="center"><a class="article-title" href="{% url 'dyasynora_app-project-detail' project.id %}">{{ project.name }}</a></h3>

        </div>
      </article></div>
    {% endfor %}
    </div>
  {% endblock content %}
