{% extends "dyasynora_app/base.html" %}
{% block content %}
  <div class="w3-container w3-padding-32" id="committee">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">DiaSynora Actors</h3>

<div class="w3-row-padding ">
  <div class="w3-col l3 m5 w3-margin-bottom">
    <img class="round" src="https://i.ibb.co/VqSV60C/Screen-Shot-2019-11-23-at-13-11-14.png" style="width:100%">
    <h3>David Schwimmer</h3>
    <p class="w3-opacity">Project Hospital</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  <div class="w3-col l3 m5 w3-margin-bottom">
    <img class="round" src="https://i.ibb.co/Rjmr9Kk/jennifer.jpg"  style="width:100%">
    <h3>Rachel Green</h3>
    <p class="w3-opacity">Medical</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p></div>

  <div class="w3-col l3 m5 w3-margin-bottom">
    <img class="round" src="https://i.ibb.co/54sbG02/matthew-perry-chandler-bing-gay.jpg"  style="width:100%">
    <h3>Matthew Perry</h3>
    <p class="w3-opacity">Mentor</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>  </div>

</div>


</div>
{% endblock content %}
