{% extends "dyasynora_app/base.html" %}
  {% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.user }}</a>
            {% if object.author == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'dyasynora_app-project-update' object.id %}">Update Profile Details</a>
                <br>
              </div>
            {% endif %}
          </div>
          <h2 class="article-title">{{ object.first_name }}</h2>
          <img src="{{ project.image.url }}" height="300" width="100%">
          <p class="article-content">{{ object.bio }}</p>
        </div>
    </article>
  {% endblock content %}
