{% extends "dyasynora_app/base.html" %}
  {% block content %}
  <div class="container py-5">
  <!-- For demo purpose -->
  <div class="row mb-5">
    <div class="col-lg-8 text-white py-4 text-center mx-auto">
      <h1 class="display-4">{{object.name}}</h1>
      <img src="{{object.image.url}}" width="700em" height="450em">
    </div>
  </div>
  <!-- End -->
  <div class="p-5 bg-white rounded shadow mb-5">
    <!-- Rounded tabs -->
    <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
      <li class="nav-item flex-sm-fill">
        <a id="idea-tab" data-toggle="tab" href="#idea" role="tab" aria-controls="idea" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Idea</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Gallery</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="supporters-tab" data-toggle="tab" href="#supporters" role="tab" aria-controls="supporters" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Supporters</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div id="idea" role="tabpanel" aria-labelledby="idea-tab" class="tab-pane fade px-4 py-5 show active">
        <p class="text-muted">{{object.description}}</p>
        <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div id="gallery" role="tabpanel" aria-labelledby="gallery-tab" class="tab-pane fade px-4 py-5">
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div id="supporters" role="tabpanel" aria-labelledby="supporters-tab" class="tab-pane fade px-4 py-5">
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <!-- End rounded tabs -->
  </div>
</div>

  <div class="container py-5">
    <header class="text-center">
      <h1 class="display-4">Get Involved</h1>
      <p class="text-muted font-italic mb-0">Ways to get involved, using the collapsibles.</p>
    </header>

    <div class="py-5">
      <div class="row">

        <div class="col-lg-6 mb-5">
          <!-- Collapse Panel 1--><a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="true" aria-controls="collapseExample1" class="btn btn-primary btn-block py-2 shadow-sm with-chevron">
            <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Volunteer</strong><i class="fa fa-angle-down"></i></p>
          </a>
          <div id="collapseExample1" class="collapse shadow-sm show">
            <div class="card">
              <div class="card-body">
                <p class="font-italic mb-0 text-muted">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-5">
          <!-- Collapse Panel 2-->
          <button data-toggle="collapse" data-target="#collapseExample2" role="button" aria-expanded="true" aria-controls="collapseExample2" class="btn btn-success btn-block py-2 shadow-sm with-chevron">
            <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Mentor</strong><i class="fa fa-angle-down"></i></p>
          </button>
          <div id="collapseExample2" class="collapse shadow-sm show">
            <div class="card">
              <div class="card-body">
                <p class="font-italic mb-0 text-muted">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-5">
          <!-- Collapse Panel 3--><a data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="true" aria-controls="collapseExample3" class="btn btn-warning btn-block p2-3 shadow-sm with-chevron">
            <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Sponsor</strong><i class="fa fa-angle-down"></i></p>
          </a>
          <div id="collapseExample3" class="collapse shadow-sm show">
            <div class="card">
              <div class="card-body">
                <p class="font-italic mb-0 text-muted">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-5">
          <!-- Collapse Panel 4--><a data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="true" aria-controls="collapseExample4" class="btn btn-danger btn-block p2-3 shadow-sm with-chevron">
            <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Lead</strong><i class="fa fa-angle-down"></i></p>
          </a>
          <div id="collapseExample4" class="collapse shadow-sm show">
            <div class="card">
              <div class="card-body">
                <p class="font-italic mb-0 text-muted">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  {% endblock content %}
