{% extends "dyasynora_app/base.html" %}
{% block content %}
<div class="row py-5 px-4">
    <div class="col-xl-8 col-md-8 col-sm-10 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4">
                <div>
                    <div><img src="{{object.image.url}}" class="center mb-2">
                    {% if object.user == user %}
                    <a href="{% url 'profile' %}" style="background-color:#264653; color:white;" class="btn btn-sm btn-block">Edit profile</a>
                    {% endif %}
                  </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ object.user }}</h4>
                        <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>{{ object.bio }}</p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{object.user.project_set.all.count}}</h5><small class="text-muted">Campaigns</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">4</h5><small class="text-muted">Events</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">3</h5><small class="text-muted">Opportunities</small>
                    </li>
                </ul>
            </div>

            <!-- Classic tabs -->
<div class="classic-tabs mx-2">

  <ul class="nav tabs-cyan" id="myClassicTabShadow" role="tablist">
    <li class="nav-item">
      <a class="nav-link  waves-light active show" id="projects-tab-classic-shadow" data-toggle="tab" href="#projects-classic-shadow"
        role="tab" aria-controls="projects-classsic-shadow" aria-selected="true">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="campaigns-tab-classic-shadow" data-toggle="tab" href="#campaigns-classic-shadow"
        role="tab" aria-controls="campaigns-classic-shadow" aria-selected="false">Campaigns</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="events-tab-classic-shadow" data-toggle="tab" href="#events-classic-shadow"
        role="tab" aria-controls="events-classic-shadow" aria-selected="false">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="opportunities-tab-classic-shadow" data-toggle="tab" href="#opportunities-classic-shadow"
        role="tab" aria-controls="opportunities-classic-shadow" aria-selected="false">Opportunities</a>
    </li>
  </ul>

  <div class="tab-content card" id="myClassicTabContentShadow">
    <div class="tab-pane fade active show" id="projects-classic-shadow" role="tabpanel" aria-labelledby="projects-tab-classic-shadow">
      <p>Projects</p>
    </div>
    <div class="tab-pane fade" id="campaigns-classic-shadow" role="tabpanel" aria-labelledby="campaigns-tab-classic-shadow">
      <p>Campaigns</p>
    </div>
    <div class="tab-pane fade" id="events-classic-shadow" role="tabpanel" aria-labelledby="events-tab-classic-shadow">
      <p>Events </p>
    </div>
    <div class="tab-pane fade" id="opportunities-classic-shadow" role="tabpanel" aria-labelledby="opportunities-tab-classic-shadow">
      <p>Opportunities</p>
    </div>
  </div>

</div>
<!-- Classic tabs -->
        </div>
        <!-- End profile widget -->
    </div>
</div>
{% endblock content %}
